.row
  .one.columns
    %h1 Priorities<span class="dotx">.X</span>
  .eleven.columns

.row
  .one.columns
  .four.columns
    %table
      %thead
        %tr
          %th Color
          %th Name
          %th.hide Value
          %th.hide ID
      %tbody
        - @priorities.each do |priority|
          %tr
            %td.priority.color.hide= priority.color
            %td.priority= priority.name
            %td.priority.hide= priority.value
            %td.priority.hide= priority.id
  .six.columns
    .controls
      .new
        = button_tag 'New priority', :id => 'new_priority', :class => 'button success radius tiny'
      .form.hide
        = form_tag do
          = label_tag 'color'
          = text_field_tag 'color', nil, :class => 'minicolors'
          = label_tag 'name'
          = text_field_tag 'name'
          = label_tag 'value'
          = text_field_tag 'value'
          = hidden_field_tag 'priority_id'
          = link_to('Cancel','#', :id => 'cancel_priority', :class => 'button alert radius tiny')
          = submit_tag 'Create New Priority', :id => 'create_priority', :class => 'button radius tiny'
  .one.columns